
<div id="container">
    .
    <div id="leftContainer">.
        <img src="https://res.cloudinary.com/dj8rl9osi/image/upload/v1712052512/BookStore/nazfujivhmbsf67igzzd.png">
    </div>
    <div id="rightContainer">.
        <div id="upperContainer">
            <div id="title">Dont Make me think</div>
            <div id="author">by Amrit</div>
            <div id="price">Rs1500</div>
            <div id="discountedprice">RS2000</div>
        </div>
        <div id="lowerContainer">
            <button (click)="decrease()" class="counterbtn">-</button>
        <span>{{ count }}</span>
        <button (click)="increase()" class="counterbtn">+</button>
        </div>
    </div>
    
</div>