<div id="container">
    <div id="lowerdiv">
        <div id="left-content">
            <img src="../../../assets/signuplogo.png" alt="Logo">
            <p>Online Book Shopping</p>
        </div>
        <div id="right-content">
            <div id="card">
                
                <form [formGroup]="loginform" >
                    <!-- Login form fields -->
                    <input type="email" placeholder="Email" formControlName="email">
                    <input type="password" placeholder="Password" formControlName="password">
                    <button type="submit" id="loginbtn" (click)="loginUser()">Login</button>
                </form>
            </div>
            <!-- Other content on the right side -->
            
        </div>

        
    </div>
</div>
