<div class="navbar">
    <div id="logo">
        <img src="../../../assets/education.png">
        <p>BookStore</p>
    </div>
    <div id="search">
        <input type="text" placeholder="Search..">
    </div>
    <div id="actions">
        <div id="profile">
            <span class="material-symbols-outlined">person</span>
            <p>Profile</p>
        </div>
        <div id="cart">
            <span class="material-symbols-outlined">shopping_cart</span>
            <p>Cart</p>
        </div>
    </div>
</div>
