.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #A03037;
    color: white;
}

#logo {
    display: flex;
    align-items: center;
    margin-left: 8%;
}

#logo img {
    width: 40px; /* Adjust logo width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Adjust spacing between logo and text */
}

#logo p {
    margin: 0;
    font-size: 18px;
}

#search input[type="text"] {
    width: 490px; /* Adjust width as needed */
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    // margin-right: 247px;
}

#actions {
    display: flex;
    gap: 50px;
    margin-right: 9%; /* Adjust spacing between action items */
}

#profile,
#cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; /* Add cursor pointer for interaction */
}

.material-symbols-outlined {
    /* Add your styles for icons */
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    #logo {
        margin-bottom: 10px; /* Adjust spacing between sections */
    }

    #search input[type="text"] {
        width: 100%; /* Make search input full width */
    }
}
