<div class="container">
  <div id="leftcontainer">
    <img
      src="https://res.cloudinary.com/dj8rl9osi/image/upload/v1712052512/BookStore/nazfujivhmbsf67igzzd.png"
    />

    <div id="buttons">
      
      



        <button type="button">ADD TO BAG</button>
        <button type="button">♥ WISHLIST</button>
    </div>
  </div>
  <div id="rightcontainer">
    <p id="title">Don't Make me Think</p>
    <p id="Author">by Steve Krug</p>
    <p id="rating">4.5⭐</p>
    (20)
    <p id="price">Rs. 1500</p>
    <hr />
    <p>Book Detail</p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam
      molestiae aut aliquam sit culpa eum dolorem quod error commodi vitae?
      Quisquam cum libero perferendis explicabo, quos accusamus ipsum magnam
      quam. Adipisci laudantium, assumenda earum provident officia reprehenderit
      exercitationem, quidem debitis accusamus quis autem sint pariatur, quas
      iure perspiciatis nobis esse numquam tempora labore aperiam quo placeat
      est nam. Voluptatem, temporibus? Voluptates sapiente impedit itaque quas
      sed veniam corporis eum consectetur quaerat tempore distinctio illo,
      assumenda enim provident quidem, dolorum suscipit quos dolores unde. Nam a
      sunt modi, velit sequi assumenda! Reprehenderit asperiores nulla expedita
      nam, voluptatum ea ex voluptatibus saepe quia vitae numquam vero facilis,
      recusandae similique nobis officia architecto eveniet assumenda quam
      aperiam tempora error et ipsa dicta? Aliquid. Odio voluptatibus modi
      totam. Ducimus, autem laboriosam! Ipsum tempore, consequuntur perferendis
      ullam quisquam nihil explicabo et error repellat quibusdam exercitationem
      aspernatur veritatis aut ex! Tempora quaerat nostrum assumenda recusandae
      nobis!
    </p>
    <hr>
    <h3>Customer Review</h3>

  </div>
</div>
