*{
    padding: 0;
    margin: 0;
}

.container{
    background-color:blanchedalmond;
    height: 100vh;
    display: flex;
    max-width: 968px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

#leftcontainer{
    position: relative;
    background-color: aqua;
    height: 100%;
    padding: 15px;
}

#rightcontainer{
    background-color: red;
    height: 100%;
    padding: 15px;
}

#buttons{
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
}

.counterbtn{
    width: 38px;
    height: 38px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    opacity: 1;
    border-radius: 50%;
}